.body{
    font-family:'Comic Sans MS';
    background-color: rgb(54, 139, 219); 
    margin: 0px; 
    padding: 100px;
}

.details{
    border: 5px solid rgb(209, 201, 191); 
    padding: 100px; 
    border-radius: 20px; 
    background-color: blanchedalmond;
    font-size: x-large;
}

.column{
    display: flex;
}

.name{
    padding-left: 150px;
}

.information{
    flex-direction: row; 
    padding-left: 150px;
}
